<ion-header [ngClass]="tournamentData.tournamentName">
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Le mie partite</ion-title>
  </ion-navbar>
</ion-header>

<ion-content  [ngClass]="tournamentData.tournamentName" padding>

  <ion-card *ngFor="let match of mymatches">
    <ion-card-header>
      <span class="date">{{match.date}}</span> - <span class="time">{{match.time}}</span>
    </ion-card-header>
    <ion-card-content>
      <p>Squadra avversaria: <span class="enemy" *ngIf="match.team1 !== personalTeam">{{match.team1}}</span><span class="enemy" *ngIf="match.team2 !== personalTeam">{{match.team2}}</span></p>
      <p class="referee" *ngIf="match.referee !== null">Arbitro: {{match.referee}}</p>
      <p class="field" *ngIf="match.playingField !== null">Campo {{match.playingField}}</p>
      <!-- <img src="../../assets/other/my-icons/serve.svg" width="10px"/> -->
    </ion-card-content>
  </ion-card>
  

</ion-content>
