.my-matches-content {
	&.siluette-1 {
		background: #fff url('../assets/other/siluettes/siluette-1.png') no-repeat 90% 90%;		
	}
	&.siluette-2 {
		background: #fff url('../assets/other/siluettes/siluette-2.png') no-repeat 90% 90%;		
	}
	&.siluette-3 {
		background: #fff url('../assets/other/siluettes/siluette-3.png') no-repeat 90% 90%;		
	}
	&.siluette-4 {
		background: #fff url('../assets/other/siluettes/siluette-4.png') no-repeat 90% 90%;		
	}
	&.siluette-5 {
		background: #fff url('../assets/other/siluettes/siluette-5.png') no-repeat 90% 90%;		
	}
	&.siluette-6 {
		background: #fff url('../assets/other/siluettes/siluette-6.png') no-repeat 90% 90%;		
	}
	&.siluette-7 {
		background: #fff url('../assets/other/siluettes/siluette-7.png') no-repeat 90% 90%;		
	}
	&.siluette-8 {
		background: #fff url('../assets/other/siluettes/siluette-8.png') no-repeat 90% 90%;		
	}
	&.siluette-9 {
		background: #fff url('../assets/other/siluettes/siluette-9.png') no-repeat 90% 90%;		
	}
	&.siluette-10 {
		background: #fff url('../assets/other/siluettes/siluette-10.png') no-repeat 90% 90%;		
	}
	&.siluette-11 {
		background: #fff url('../assets/other/siluettes/siluette-11.png') no-repeat 90% 90%;		
	}
	&.siluette-12 {
		background: #fff url('../assets/other/siluettes/siluette-12.png') no-repeat 90% 90%;		
	}
	&.siluette-13 {
		background: #fff url('../assets/other/siluettes/siluette-13.png') no-repeat 90% 90%;		
	}
	&.siluette-14 {
		background: #fff url('../assets/other/siluettes/siluette-14.png') no-repeat 90% 90%;		
	}
	&.siluette-15 {
		background: #fff url('../assets/other/siluettes/siluette-15.png') no-repeat 90% 90%;		
	}
	&.siluette-16 {
		background: #fff url('../assets/other/siluettes/siluette-16.png') no-repeat 90% 90%;		
	}
	&.siluette-17 {
		background: #fff url('../assets/other/siluettes/siluette-17.png') no-repeat 90% 90%;		
	}
	&.siluette-18 {
		background: #fff url('../assets/other/siluettes/siluette-18.png') no-repeat 90% 90%;		
	}
	&.siluette-19 {
		background: #fff url('../assets/other/siluettes/siluette-19.png') no-repeat 90% 90%;		
	}
}

.time {
	font-size: 2rem;
}

.time, .date {
	.tremignon-2017 & {
		color: $tremignon-2017-sc1;
	}
	.camisano-2017 & {
		//color: $camisano-2017-sc1;
	}
}

.referee {
	display: inline-block;
}

.field, .type {
	float: right;
	font-weight: 300;
}

.card {
	
	// card background //
	.tremignon-2017 & {
		background-color: $tremignon-2017-sc3;
	}
	.camisano-2017 & {
		background-color: $camisano-2017-first;
	}

	.card-header {
		// header text color //
		.tremignon-2017 & {
			color: $tremignon-2017-card-color;
		}
		.camisano-2017 & {
			color: $camisano-2017-third;
		}
	}
}

.match-card {
	margin-top: 1000px;

	&.show {
		margin-top: 0;
		transition: all 0.5s ease;
	}
}