.time {
	font-size: 2rem;
}

.time, .date {
	.tremignon-2017 & {
		color: $tremignon-2017-sc1;
	}
	.camisano-2017 & {
		//color: $camisano-2017-sc1;
	}
}

.referee {
	display: inline-block;
}

.field, .type {
	float: right;
	font-weight: 300;
}

.card {
	
	// card background //
	.tremignon-2017 & {
		background-color: $tremignon-2017-sc3;
	}
	.camisano-2017 & {
		background-color: $camisano-2017-first;
	}

	.card-header {
		// header text color //
		.tremignon-2017 & {
			color: $tremignon-2017-card-color;
		}
		.camisano-2017 & {
			color: $camisano-2017-third;
		}
	}
}

.match-card {
	margin-top: 1000px;

	&.show {
		margin-top: 0;
		transition: all 0.5s ease;
	}
}