// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/v2/theming/
$font-path: "../assets/fonts";

@import "ionic.globals";


// Shared Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass variables found in Ionic's source scss files.
// To view all the possible Ionic variables, see:
// http://ionicframework.com/docs/v2/theming/overriding-ionic-variables/




// Named Color Variables
// --------------------------------------------------
// Named colors makes it easy to reuse colors on various components.
// It's highly recommended to change the default colors
// to match your app's branding. Ionic uses a Sass map of
// colors so you can add, rename and remove colors as needed.
// The "primary" color is the only required color in the map.

$colors: (
  primary:    #387ef5,
  secondary:  #32db64,
  danger:     #f53d3d,
  light:      #f4f4f4,
  dark:       #222
);

// tremignon-2017 variables //
$tremignon-2017-header-bcg: #fff;
$tremignon-2017-header-color: #000;
$tremignon-2017-header-h1: #333;
$tremignon-2017-header-h2: #666;

$tremignon-2017-body-bcg: #fff;

$tremignon-2017-card-bcg: #fff;
$tremignon-2017-card-color: #000;
$tremignon-2017-card-h1: #333;
$tremignon-2017-card-h2: #666;

$tremignon-2017-sc1: #00f;
$tremignon-2017-sc2: #0f0;
$tremignon-2017-sc3: #ddd;

// camisano-2017 variables //
$camisano-2017-first : #ffffff;
$camisano-2017-second: #00E6FB;
$camisano-2017-third : #F22DEC;
$camisano-2017-fourth: #000000;


// App iOS Variables
// --------------------------------------------------
// iOS only Sass variables can go here




// App Material Design Variables
// --------------------------------------------------
// Material Design only Sass variables can go here




// App Windows Variables
// --------------------------------------------------
// Windows only Sass variables can go here




// App Theme
// --------------------------------------------------
// Ionic apps can have different themes applied, which can
// then be future customized. This import comes last
// so that the above variables are used and Ionic's
// default are overridden.

@import "ionic.theme.default";


// Ionicons
// --------------------------------------------------
// The premium icon font for Ionic. For more info, please see:
// http://ionicframework.com/docs/v2/ionicons/

@import "ionicons";


// Fonts
// --------------------------------------------------

@import "roboto";
@import "noto-sans";


// Common rules
// --------------------------------------------------
.ghost {
	display: inline-block;
	height: 100%;
	width: 0;
	vertical-align: middle;
}
//-------------------------------------------------//
//------------------- HEADER ----------------------//
//-------------------------------------------------//
//page-groupstages {
		.toolbar {						// header background
			.toolbar-background {
				.tremignon-2017 & {
					background: $tremignon-2017-header-bcg;
				}
				.camisano-2017 & {
					background: $camisano-2017-first;
				}
			}
			
			.title {
				padding: 0 15px 1px;

				.toolbar-title {		// header title
					.tremignon-2017 & {
						color: $tremignon-2017-sc1;
					}
					.camisano-2017 & {
						color: $camisano-2017-second;
					}
				}
			}
			
		}

		.bar-button {		// header burger-button
			.tremignon-2017 & {
				color: $tremignon-2017-sc1;
			}
			.camisano-2017 & {
				color: $camisano-2017-second;
			}
		}

//}
//-------------------------------------------------//
//------------------ END HEADER -------------------//
//-------------------------------------------------//

//-------------------------------------------------//
//------------------- CONTENT ---------------------//
//-------------------------------------------------//
/*.content {	// content background
	&.tremignon-2017 {
		background-color: $tremignon-2017-second;
	}
	&.camisano-2017 {
		background-color: $camisano-2017-second;
	}
}*/

//-------------------------------------------------//
//------------------ END CONTENT ------------------//
//-------------------------------------------------//

//-------------------------------------------------//
//------------------ NAV MENU ---------------------//
//-------------------------------------------------//
.menu-inner {
	.toolbar-background-md {
		background-color: #ccc;

		.tremignon-2017 & {
			background-color: #666;
		}
		.camisano-2017 & {
			background-color:  $camisano-2017-second;
		}
	}
}
//-------------------------------------------------//
//------------------ NAV MENU ---------------------//
//-------------------------------------------------//


.scroll-content {

	.tremignon-2017.lateral-menu & {
		background-color: #e0e0e0;
	}
	.camisano-2017.lateral-menu & {
		background-color: $camisano-2017-second;
	}

	.item-block {
		.tremignon-2017.lateral-menu & {
			background-color: #e0e0e0;
		}
		.camisano-2017.lateral-menu & {
			background-color: $camisano-2017-second;
		}		
	}
}

.lateral-menu-item {
	position: relative;
	display: inline-block;
	height: 40px;
	padding-left: 40px;
}
.lateral-menu-label {
	display: inline-block;
	height: 100%;
	margin-left: 10px;
}
.lateral-menu-icon {
	width: 40px;
	height: 40px;
	position: absolute;
	left: 0;

	&.partite {
		background: transparent url('../assets/other/calendar.png') no-repeat center center;
		background-size: 40px 40px;
	}
	&.gironi {
		background: transparent url('../assets/other/match.png') no-repeat center center;
		background-size: 40px 40px;
	}
	&.finale {
		background: transparent url('../assets/other/podium.png') no-repeat center center;
		background-size: 40px 40px;
	}
	&.Foto {
		background: transparent url('../assets/other/social.png') no-repeat center center;
		background-size: 40px 40px;
	}
	&.bar {
		background: transparent url('../assets/other/beer.png') no-repeat center center;
		background-size: 40px 40px;
	}
}