.team-list {
	
	width: 100%;
	//height: 100px;

	/*.team {
		display: inline-block;
		width: 50%;
		height: 5rem;
		padding: 5px;
		text-align: center;
		//border: 1px solid #333;
		font-size: 2.5rem;
	}*/
	.team { 
		font-size: 2.5rem;
		margin: 10px 0 10px 5px;

		.container-punti {
			float: right;

			.punti-squadra {
				border-radius: 50%;
				background-color: #ddd;
				height: 2.5rem;
				width: 2.5rem;
				margin-left: 5px;
			}
		}
	}
}

.vs-row {
	text-align: center;
}

.team1, .team2 {
	font-size: 2rem;
}