<ion-header  [ngClass]="tournamentData.tournamentName"> 
  <ion-navbar>
    <ion-title>Group {{groupName}}</ion-title>
  </ion-navbar>
</ion-header>
<ion-content  [ngClass]="tournamentData.tournamentName">

	<ion-card>
		<ion-card-content>
			<div class="team-list">
				<div id="team-{{i}}" class="team" *ngFor="let team of teams; let i = index" [attr.data-index]="i">
					<div class="team-name">
						{{team.name}}
					</div>
					<!--<span class="container-punti punti-{{team.points}}"></span>-->
					<div class="container-punti">
						<span *ngFor="let point of team.pointsArray; let j = index" [attr.data-index]="j" class="punto punto-{{j}} {{moveClass}} {{transClass}}"></span>
					</div>
				</div>
			</div>

			<!-- <span *ngFor="let color of teamColors"> {{color}}</span> -->
		</ion-card-content>
	</ion-card>

	<ion-card *ngFor="let match of matchesNotPlayed; let i=index" [attr.data-index]="i" id="match-{{i}}">
	  <ion-card-header>
	    <span class="date">{{match.date}}</span> - <span class="time">{{match.time}}</span>
	  </ion-card-header>
	  <ion-card-content>
	  	<p class="vs-row">
	  		<span class="team1">{{match.team1}}</span> 
	  			VS 
	  		<span class="team2">{{match.team2}}</span>
	  	</p>
		<p class="referee">Arbitro: {{match.referee}}</p>
		<p class="field">Campo {{match.playingField}}</p>
	  </ion-card-content>
	</ion-card>

	<div class="alreadyPlayedSeparator">
		Giocate
	</div>

	<ion-card *ngFor="let match of matchesPlayed; let i=index" [attr.data-index]="i" id="match-{{i}}">
	  <ion-card-header>
	    <span class="date">{{match.date}}</span> - <span class="time">{{match.time}}</span>
	  </ion-card-header>
	  <ion-card-content>
	  	<p class="vs-row">
	  		<span class="team1">
	  			<span class="score score-{{match.scoreA}}">
	  				{{match.scoreA}} 
  				</span>
	  			{{match.team1}}
	  		</span> 
	  			VS 
	  		<span class="team2">
  				{{match.team2}}
	  			<span class="score score-{{match.scoreB}}">
			  		{{match.scoreB}}
  				</span>
  			</span>
	  	</p>
		<p class="referee">Arbitro: {{match.referee}}</p>
		<p class="field">Campo {{match.playingField}}</p>
	  </ion-card-content>
	</ion-card>

</ion-content>